.settings{
    position: relative;
    margin-top: 5rem;
    width: 100%;
    padding: 0 20rem;
    margin-bottom: 15rem;

    .blue-weapon{
        position: absolute;
        left: 0;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .knife{
        position: absolute;
        right: 30rem;
        top: 20rem;
        z-index: -1;
    }

    &--heading{
        font-family: Orbitron;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 101.9%;
/* or 65px */

        letter-spacing: -0.005em;

        color: #00AEFF;
    }

   

    &--steps{
        margin-top: 5rem;
        font-family: Poppins;
        font-style: normal;
       
        font-size: 14px;
        line-height: 4rem;
        padding-left: 2rem;
        border-left: 1.5rem solid #00AEFF;
        margin-left: 20rem;
        



        color: #FFFFFF;

    }

}


.settings--list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .settings__product{
        margin-bottom: 10rem;
        width: 100%;
        padding: 0 8.2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        &--description{
            width: 50%;
        }
        

        &--name{
            font-family: Orbitron;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 175.4%;
            /* or 63px */
            
            
            color: #FF00F5;
        }

        &--text{
            margin-top: 1.5rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 163.9%;
            width: 80%;
/* or 26px */


            color: #FFFFFF;
        }

        &--btn{
            background: #B323FF;
            box-shadow: 0px 3px 20px 3px rgba(179, 35, 255, 0.49);
            border-radius: 18.5px;
            padding: 1rem 2rem;
            font-family: Orbitron;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            margin-top: 4.5rem;

            position: relative;
        


            

            &::after{
                border-radius: 18.6rem;
                position: absolute;
                content: "";
                color: white;
                width: 100%;
                height: 100%;
                display: inline-block;
                top: 0;
                left: 0;     
                background-color: $color-purple;
                z-index: -1;
                transition: all .3s ;
               
            }

            &:hover{
                
                &::after{
                    transform: scale(1.5);
                opacity: 0%;
                }
                
        } 
    }


        &--image{
            width: 50%;
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }

            &--name{
                padding: 1rem;
                width: 100%;
                font-family: Orbitron;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                background: rgba(0, 174, 255, 0.24);
                border-radius: 10px;
                text-align: center;
            }
        
        }


    }
}

.eclipse-blue{
    position: fixed;
    z-index: -10;
    left: 0;
    top: 0;
}
.eclipse-rose{
    position: fixed;
    z-index: -10;
   
   right: 0;
}